<div class="jumbotron">
  <h1 class="display-4">Conheça as ONGs que fazem parte</h1>
  <p class="lead">Encontre aqui uma ONG para acompanhar suas atividades, consultar sua situação financeira e fazer doações.</p>
</div>
<% @ngos.each do |ngo| %>
  <div class="row ngo-card">
    <div class="col-lg-4 ngo-card-img">
      <object data="<%= ngo.image.url(:medium) %>" type="image/png">
        <img src="images/image_not_found.png" alt="Imagem da ONG">
      </object>
    </div>
    <div class="col-lg-8 fantasy-name">
      <div class="title">
        <h1><%= ngo.fantasy_name %></h1>
        <% if ngo.date_start.present? %>
          <span class="badge badge-success"><%= ngo.date_start.strftime("Atuando desde %Y") %></span>
        <% end %>
      </div>
      <p><%= truncate(ngo.description, length: 380) %></p>

      <div class="contact-detail">
        <p class="p-detail"><strong>E-mail: </strong><%= ngo.email %></p>
        <p class="p-detail"><strong>Telefone: </strong><%= "#{ngo.phone_number1}, #{ngo.phone_number2}" %></p>
        <p class="p-detail"><strong>Cidade: </strong><%= "#{ngo.city}/#{ngo.state}" %></p>
      </div>
      <a class="btn btn-primary btn-lg detail" href="<%= ngo_path(ngo.fantasy_name_url) %>">Saiba mais</a>
    </div>
  </div>
<% end %>
