 <%= form_error_tag(@ngo) %>

<div class="col-lg-6" >
  <div class="form-group">
    <%= label_tag(:social_name, 'Razão Social') %>
    <%= f.text_field :social_name, class: 'form-control' %>
  </div>
  <div class="form-group <%= form_group_error_class(@ngo, :fantasy_name)%>">
    <%= label_tag(:fantasy_name, 'Nome Fantasia') %>
    <%= f.text_field :fantasy_name, class: 'form-control' %>
    <%= field_error_tag(@ngo, :fantasy_name) %>
  </div>
  <div class="form-group">
    <%= label_tag(:email, 'E-mail') %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag(:site, 'Site') %>
    <%= f.text_field :site, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag(:cnpj, 'CNPJ') %>
    <%= f.number_field :cnpj, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag(:description, 'Descrição') %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag(:phone_number1, 'Telefone 1') %>
    <%= f.phone_field :phone_number1, class: 'form-control', maxlength: 15 %>
  </div>
  <div class="form-group">
    <%= label_tag(:phone_number2, 'Telefone 2') %>
    <%= f.phone_field :phone_number2, class: 'form-control', maxlength: 15 %>
  </div>
  <div class="form-group">
    <%= label_tag(:activity, 'Atividade') %>
    <%= f.text_field :activity, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag(:date_start, 'Data início') %>
    <%= f.date_field :date_start, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag(:image, 'Imagem') %>
    <%= f.file_field :image, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag(:transparency_portal, 'Portal da transparência') %>
    <%= f.text_field :transparency_portal, class: 'form-control' %>
    <p class="help-block">Pode ser a URL de algum local onde tenha a prestação de contas da ONG. Ex: Planilha Google</p>
  </div>
  <div class="form-group">
    <%= label_tag(:active, 'Status') %>
    <%= f.select :active, options_for_select({"Ativo" => "true", "Inativo" => "false"}, @ngo.active), class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag(:payment_type, 'Método de pagamento') %>
    <%= f.select :payment_type, options_for_select({"Botão - Paypal" => "paypal-form"}, @ngo.payment_type), class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag(:payment_form, 'Código do botão') %>
    <%= f.text_area :payment_form, class: 'form-control' %>
  </div>
</div>
<div class="col-lg-6">
  <h1>Endereço</h1>
  <div class="form-group <%= form_group_error_class(@ngo, :zipcode)%>">
    <%= label_tag(:zipcode, 'CEP') %>
    <%= f.number_field :zipcode, class: 'form-control' %>
    <%= field_error_tag(@ngo, :zipcode) %>
  </div>
  <div class="form-group <%= form_group_error_class(@ngo, :address_number)%>">
    <%= label_tag(:address_number, 'Número ') %>
    <%= f.number_field :address_number, class: 'form-control' %>
    <%= field_error_tag(@ngo, :address_number) %>
  </div>
  <div class="form-group <%= form_group_error_class(@ngo, :address)%>">
    <%= label_tag(:address, 'Endereço') %>
    <%= f.text_field :address, class: 'form-control' %>
    <%= field_error_tag(@ngo, :address) %>
  </div>
  <div class="form-group <%= form_group_error_class(@ngo, :neighborhood)%>">
    <%= label_tag(:neighborhood, 'Bairro') %>
    <%= f.text_field :neighborhood, class: 'form-control' %>
    <%= field_error_tag(@ngo, :neighborhood) %>
  </div>
  <div class="form-group <%= form_group_error_class(@ngo, :city)%>">
    <%= label_tag(:city, 'Cidade') %>
    <%= f.text_field :city, class: 'form-control', :readonly => true %>
    <%= field_error_tag(@ngo, :city) %>
  </div>
  <div class="form-group <%= form_group_error_class(@ngo, :state)%>">
    <%= label_tag(:state, 'Estado') %>
    <%= f.text_field :state, class: 'form-control', :readonly => true %>
    <%= field_error_tag(@ngo, :state) %>
  </div>
  <h1>Conta bancária</h1>
  <div class="form-group">
    <%= label_tag(:bank, 'Banco') %>
    <%= f.text_field :bank, class: 'form-control', placeholder: 'Ex: Caixa Economica Federal' %>
  </div>
  <div class="form-group">
    <%= label_tag(:agency, 'Agência') %>
    <%= f.text_field :agency, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag(:operation, 'Operação') %>
    <%= f.text_field :operation, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag(:account, 'Número da conta') %>
    <%= f.text_field :account, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag(:titular, 'Titular') %>
    <%= f.text_field :titular, class: 'form-control' %>
  </div>
</div>
<div class="col-lg-12">
  <div class="form-group">
    <%= f.submit 'Salvar', class: 'btn btn-success' %>
    <%= link_to 'Voltar', ngo_area_ngos_path, class: 'btn btn-default' %>
  </div>
</div>

<%= javascript_include_tag "ngo_area/ngos/form" %>
