<div class="col-lg-6">
  <div class="form-group">
    <%= label_tag(:name, 'Nome') %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag(:description, 'Descrição') %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag(:image, 'Imagem') %>
    <%= f.file_field :image, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit 'Salvar', class: 'btn btn-success' %>
    <% if @pet %>
      <%= link_to("Excluir",
                  ngo_area_pet_path(@pet),
                  method: :delete,
                  data: { confirm: 'Tem certeza que deseja excluir este registro?' },
                  class: 'btn btn-danger',
                  'data-no-turbolink' => true) %>
    <% end %>
    <%= link_to 'Voltar', ngo_area_pets_path, class: 'btn btn-default' %>
  </div>
</div>
<div class="col-lg-6">
  <div class="form-group">
    <%= label_tag(:sex, 'Sexo') %>
    <%= f.select :sex, options_for_select({"Fêmea" => "f", "Macho" => "m"}, @pet.sex), class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag(:age, 'Idade') %>
    <%= f.number_field :age, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag(:active, 'Idade') %>
    <%= f.select :active, options_for_select({"Ativo" => "true", "Inativo" => "false"}, @pet.active), class: 'form-control' %>
  </div>
</div>