<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <div class="well bs-component">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form-horizontal') do |f| %>
      <fieldset>
        <legend>Login</legend>
        <% if flash[:alert].present? %>
          <div class="alert alert-danger" role="alert">
            <%= flash[:alert] %> 
          </div>
        <% end %>
   
        <div class="form-group">
          <%= f.label :email, class: 'control-label' %><br />
          <%= f.email_field :email, class: 'form-control', autofocus: true %>
        </div>

        <div class="form-group">
          <%= f.label :password, class: 'control-label' %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Entrar", class: 'btn btn-primary btn-lg btn-block' %>
        </div>
      <fieldset>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>
