<div class="jumbotron">
  <h1 class="display-4">Conheça todos os pets para adoção.</h1>
  <p>Gostou de algum? Acesse este <a>link</a> para saber mais sobre a nossa política de adoção.</p>
</div>
<div class="container">
  <div class="row">
  <% @pets.each do |pet| %>
    <div class="col-lg-4">
      <div class="card adoption-card">
        <object data="<%= pet.image.url(:medium) %>" type="image/png">
          <%= image_tag 'image_not_found.png' %>
        </object>
        <div class="card-body adoption-card-body">
          <div class=adoption-card-content>
            <h5 class="card-title"><%= pet.name %></h5>
            <p class="card-text"><%= truncate(pet.description, length: 100) %></p>
          </div>
          <div class="adoption-card-footer">
            <div class="adoption-card-badges">
              <span class="badge badge-primary"><%= pet.sex_text %></span>
              <span class="badge badge-success"><%= "#{pet.age} anos" %></span>
            </div>
            <% if user_signed_in? %>
              <button type="button" class="btn btn-success btn-adoption">Quero adotar</button>
            <% else %>
              <button disabled type="button" class="btn btn-success btn-adoption">Faça login e adote on-line</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<%= stylesheet_link_tag 'adoption' %>
