<!DOCTYPE html>
<html>
  <head>
    <title>Uberdo3setor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="<%=root_path%>">HOME
                <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%=ngos_path%>">ONGS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%=adoption_index_path%>">ADOTE</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li>
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download" aria-expanded="false">Olá, <%= current_user.email %><span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="download">
                <%= link_to('Área da ONG', "#") %>
                <div class="dropdown-divider"></div>
                <%= link_to('Sair', destroy_user_session_path, method: :delete) %>
              </div>
            </li>
            <% else %>
              <li>
                <%= link_to('Sou uma ONG', new_user_session_path) %>
              </li>
            <% end %>
            </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>

