<!DOCTYPE html>
<html>
  <head>
    <title>BoaCausa</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Import used css files from old structure -->
    <!-- To be removed and converted to CSS modules or something like that when we done migrating to react components -->
    <%= stylesheet_link_tag 'ngos', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body style="background-color: #F2F3F3; padding-top: 0;">
    <%= yield %>
  </body>
</html>

